
<div class="pure-menu">
  <ul class="pure-menu-list">
    <span class="pure-menu-heading">GIT</span>
    <li class="pure-menu-item">
      <a href="{{ site.baseurl }}/docs/git/" class="pure-menu-link">Introduction and<br>General Concepts</a>
    </li>
    <li class="pure-menu-item">
      <a href="{{ site.baseurl }}/docs/git/branches/" class="pure-menu-link">Branches</a>
    </li>
    <li class="pure-menu-item">
      <a href="{{ site.baseurl }}/docs/git/issues/" class="pure-menu-link">Issues</a>
    </li>
    <li class="pure-menu-item">
      <a href="{{ site.baseurl }}/docs/git/pull-requests/" class="pure-menu-link">Pull Requests</a>
    </li>
  </ul>
</div>
