.primary-orange {
  color: $kotis-orange;
}

.primary-blue {
  color: $kotis-blue;
}

.secondary-gray {
  color: $kotis-gray;
}

.other-red {
  color: $kotis-red;
}

.other-green {
  color: $kotis-green;  
}

.hover-blue {
  color: $kotis-blue-secondary;
}