
.highlight {
  max-width: 670px;
}
.guide {
  margin-top: 1em;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header-link {
  .fa-link {
    font-size: 18px;
    margin-left: 10px;
  }
}